body{
    font-family: "Poppins", sans-serif;
    max-width: 100%;
}
/*quick-links*/
.quick-links{
    background-color: #106EEA;
    height: 7vh;
}
.quick-links .container{
    height: 7vh;
    width: 100%;
    margin: 0 auto;
}
.quick-links .f-container{
    height: 7vh;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.quick-links .f-item1{
    flex-basis: 8%;
}
.quick-links .f-item2{
    flex-basis: 14%;
    text-align: center;
}
.quick-links .details{
    display: flex;
}
.quick-links .details i{
    color: white;
    margin: 0px 7px;
    font-size: 14px;
}
.quick-links .f-item2 a{
    color: #B2D2F9;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1px;
}
.quick-links .details a{
    text-decoration: none;
    color: white;
}
.quick-links .e-mail{
    font-size: 13px;
    font-weight: 700;
}
.quick-links .mobile{
    font-size: 13px;
    font-weight: 700;
}
/*banner*/
.banner{
    background-image: url('../css/image/hero-bg.jpg');
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    height: 100vh;
}
.banner .white-overlay{
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}    
.banner .container{
    height: 100vh;
    width: 98%;
    margin: 0 auto;
}
.banner .f-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.banner h1{
    font-size: 28px;
    padding-bottom: 10px;
    font-weight: bolder;
    margin: -30px 0;
}
.banner h1 span{
    color: #106EEA;
}
.banner p{
    font-size: 16px;
    padding-bottom: 11px;
    font-weight: 400;
    color: #555555;
    line-height: 24px;
}
.banner .f-item2{
    margin-top: 8px;
    display: flex;
    align-items: center;
    position: relative
}
.banner .primary-btn{
    text-decoration: none;
    color: white;
    background: #106EEA;
    padding: 10px 28px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 13px;
    display: inline-block;
    letter-spacing: 1px;
}
.banner .secondary-btn {
    text-decoration: none;
    padding-left: 25px;
    color: #222222;
    font-weight: 600;
    font-size: 14px;
}
.banner i{
    font-size: 32px;
    padding-right: 8px;
    color: #106EEA; 
}
.highlights{
    width: 100%;
    height: 330vh;
}
.highlights .container{
    width: 100%;
    margin: 0 auto;
    height: 100vh;
}
.highlights .f-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}
.highlights .f-item{
    flex-basis: 65%;
    margin-top: 35px;
    padding: 0px 50px 20px 40px;
    border: 2px #106eea42 solid;
    box-shadow: 0px 0px 10px 0px;
    border-radius: 5px;
}
.highlights .f-item:hover{
    border: 5px  #106EEA solid ;
}
.highlights .icon{
    color: #106EEA;
    font-size: 45px;
    padding: 30px 0px 25px 0px;
}
.highlights h1{
    font-size: 17px;
    padding: 6px 0px 25px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}
.highlights p{
    font-size: 15px;
    padding: 0px 0px 0px 0px;
    word-spacing: 1px;
    color: black;
    line-height: 23px;
}
.about{
    width: 100%;
    height: 365vh;
    background-color: #F1F6FE;
}
.about .container{
    width: 100%;
    margin: 0 auto;
    padding-top: 70px;
}
.about .section-title{
    text-align: center;
}
.about .section-title h1{
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #106EEA;
    border: 0px white solid;
    background-color: #E7F1FD;
    display: inline-block;
    padding: 5px 17px;
    border-radius: 13px;
}
.about .section-title h2{   
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 16px;
}
.about span{
    color: #106EEA;
}
.about .section-title p{
    font-size: 16px;
    font-weight: 600;
}
.about .f-container{
    display: flex;
    flex-wrap: wrap;
}
.about .f-item1{
    background-image: url('../css/image/about-flex.jpg');
    background-size: cover;
    height: 102vh;
    flex-basis: 100%;
}
.about .f-item2{
    flex-basis: 100%;
    padding-top: 50px;
}
.about .f-item2 h1{
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}
.about .f-item2 h2{
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    margin: 25px 0;
}
.about .f2-content{
    padding-top: 50px;
}
.about .f2-content1{
    display: flex;
    flex-wrap: wrap;
}
.about .icon{
    flex-basis: 10%;
    padding-left: 6px;
}
.about i{
    color: #106EEA;
    border: 2px solid white;
    padding: 14px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px;
}
.about .f2-cont{
    flex-basis: 90%;
    padding-left: 85px;
}
.about .f2-content h1{
    font-size: 18px;
    line-height: 23px;
    margin: -40px 0px 0px 0px;
}
.about .f2-content p{
    font-size: 14px;
    line-height: 20px;
    margin: 15px 0px 25px 0px;
}
.about .section-footer p{
    font-size: 15px;
    line-height: 22px;
    font-weight: 700;
}
.statistics{
    height: 153vh;
    margin: 50px 0;
}
.statistics .container{
    width: 100%;
    margin: 0 auto;
}
.statistics .f-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.statistics .f-item{
    flex-basis: 100%;
    text-align: center;
    background-color: aliceblue;
    margin: 25px;
    max-width: 540px;
}
.statistics i{
    font-size: 25px;
    display: inline-block;
    color: white;
    border: 1px white solid;
    border-radius: 30px;
    background-color: #106AEE;
    padding: 10px;
    margin-top: -20px;
}
.statistics h1{
    margin: 20px 0px -15px 0px;
    font-size: 40px;
    font-weight: 600;
}
.statistics p{
    margin: 15px 0px;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 600;
}
.clients{
    height: 75vh;
    background-color: #F1F6FE;
    margin: 60px 0;  
}
.clients .container{
    width: 100%;
    margin: 0 auto;
}
.clients .f-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 0;
}
.clients .f-item{
    flex-basis: 33%;
    padding: 22px;
    text-align: center
}
.clients img{
    max-width: 60%;
}
.services{
    height: 435vh;
    margin: 50px 0;
}
.services .container{
    width: 100%;
    margin: 0 auto;
}
.services .section-title{
    text-align: center;
}
.services .section-title h1{
    color: #106AEE;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    border: 2px white solid;
    display: inline-block;
    background-color: #E7F1FD;
    padding: 5px 16px;
    border-radius: 16px;
    line-height: 15px;
}
.services .section-title h2{
    font-size: 25px;
    font-weight: 700;
    line-height: 20px;
    margin: 20px 0;
    letter-spacing: 0.5px;
}
.services .section-title span{
    color: #106AEE;
}
.services .section-title p{
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0
}
.services .section-content{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 450px;
}
.services .section-content .f-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.services .section-content .f-item{
    flex-basis: 100%;
    border: 2px solid #106AEE;
    padding: 40px 14px;
    text-align: center;
    margin: 6px;
}
.services .section-content .f-item:hover{
    border: 5px  #106EEA solid ;
}
.services .icon{
    text-align: center;
    color: #106AEE;
}
.services i{
    font-size: 30px;
    display: inline-block;
    padding: 25px;
    background-color: #E7F1FD;
    border-radius: 5px;
}
.services .section-content h1{
    font-size: 22px;
    font-weight: 600;
    margin: 10px 0;
}
.services .section-content p{
    font-size: 14px;
    margin: 15px 0;
    line-height: 24px
}
.team{
    height: 375vh;
    margin: 60px 0;
    background-color: #F1F6FE;
}
.team .container{
    width: 100%;
    margin: 0 auto;
}
.team .section-title{
    text-align: center;
}
.team .section-title h1{
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #106EEA;
    border: 0px white solid;
    background-color: #E7F1FD;
    display: inline-block;
    padding: 6px 20px;
    border-radius: 13px;
    line-height: 14px;
}
.team .section-title h2{
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 35px;
    margin: 15px 0px;
}
.team span{
    color: #106AEE;
}
.team .section-title p{
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    margin: 15px 0;
}
.team .section-content{
    margin-top: 30px;
    max-width: 500px;
    margin: 0 auto;
}
.team .section-content .f-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.team .section-content .f-item{
    flex-basis: 100%;
    text-align: center;
    border: 2px white solid;
    box-shadow: inset 0px 0px 2px;
    margin: 5px;
}
.team img{
    max-width: 100%;
}
.team .section-content h1{
    text-align: left;
    padding: 34px 0px 10px 5px;
    font-size: 16px;
    font-weight: 600;
}
.team .section-content p{
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 0px 0px 5px;
}
.newsletter{
    margin: 50px 0px;
    background-color: aliceblue
}
.newsletter .container{
    width: 90%;
    margin: 0 auto;
}
.newsletter ,.section-title{
    text-align: center;
    padding: 20px 0;
}
.newsletter .section-title h1{
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    margin: 15px 0px;
}
.newsletter ,.section-title p{
    font-size: 14px;
    color: #44444A;
    font-weight: 600;
    margin: 10px 0px;
}
.newsletter .section-content{
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
.newsletter .f-item1{
    flex-basis: 70%;
}
.newsletter .text{
    height: 166%;
    width: 100%;
    border: none;
}
.newsletter .f-item2{
    flex-basis: 30%;
}
.newsletter .button{
    height: 178%;
    width: 100%;
    border: none;
    background-color: #106AEE;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
}
.footer{
    margin: 50px 0;
    background-color: aliceblue;
}
.footer .container{
    width: 100%;
    margin: 0 auto;
}
.footer .f-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 15px;
}
.footer .f-item p{
    font-size: 14px;
}
.footer .f-item span{
    font-weight: 600;
    color: #106AEE;
}
@media (min-width:300px){
.highlights{
    height: 285vh;
}
.about{
    height: 345vh;
}
.services{
    height: 429vh;
}
.team{
    height: 400vh;
}
}
@media (min-width:335px){
.highlights{
    height: 270vh;
}
.about{
    height: 325vh;
}
.team{
    height: 415vh;
}
}
@media(min-width:361px){
.about{
    height: 300vh;
}
.team{
    height: 460vh;
}
}
@media(min-width:430px){
.team{
    height: 500vh;
}
}
@media(min-width:480px){
.about{
    height: 270vh;
}
.team{
    height: 524vh;
}
}
@media (min-width:576px){
.quick-links .container{
    max-width: 540px;
}
.quick-links .f-item a{
    font-size: 14px;
}
.banner .container{
    max-width: 540px;
}
.highlights{
    height: 275vh;
}
.highlights .container{
    max-width: 540px;
}
.about{
    height: 265vh;
}
.about .container{
    max-width: 540px;
}
.about .f-item1{
    height: 103vh;
    flex-basis: 100%;
}
.about .f-item2{
    flex-basis: 100%;
}
.statistics .container{
    max-width: 540px;
}
.clients .container{
    max-width: 540px;
}
.clients img{
    max-width: 50%;
}
.services .container{
    max-width: 540px;
}
.services .section-title h1{
    padding: 10px 20px;
}
.team{
    height: 525vh;
}
.team .container{
    max-width: 540px;
}
.newsletter .container{
    max-width: 540px;
}
.newsletter .section-content{
    max-width: 540px;
}
}
@media (min-width:768px){
.quick-links .container{
    max-width: 720px;
}
.banner .container{
    max-width: 720px;
}
.banner h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin: -20px 0;
}
.banner p{
    font-size: 24px;
    line-height: 26px;
    font-weight: 600;
}
.banner .secondary-btn {
    font-weight: 700;
    font-size: 16px;
}
.highlights{
    height: 150vh;
}
.highlights .container{
    max-width: 720px;
}
.highlights .f-item{
    flex-basis: 33%;
}
.highlights p{
    line-height: 25px;
    color: black;
    font-weight: 500;
}
.about{
    height: 285vh;
}
.about .container{
    max-width: 720px;
}
.about .f-item1{
    height: 138vh;
    flex-basis: 100%;
}
.about .f-item2{
    flex-basis: 100%;
}
.statistics{
    height: 75vh;
}
.statistics .container{
    max-width: 720px;
}
.statistics .f-item{
    flex-basis: 43%;
}
.clients{
    height: 48vh;
}
.clients .container{
    max-width: 720px;
}
.clients .f-item{
    flex-basis: 27%;
    padding: 18px;
}
.clients img{
    max-width: 47%;
}
.services{
    height: 215vh;
}
.services .container{
    max-width: 720px;
}
.services .section-content{
    max-width: 720px;
}
.services .section-content .f-item{
    flex-basis: 43%;
}
.team{
    height: 230vh;
}
.team .container{
    max-width: 720px;
}
.team .section-content{
    max-width: 720px;
}
.team .section-content .f-item{
    flex-basis: 47%;
}
.newsletter .container{
    max-width: 720px;
}
.newsletter .section-content{
    max-width: 720px;
}
}
@media (min-width:992px){
.quick-links .container{
    max-width: 960px;
}
.banner .container{
    max-width: 960px;
}
.highlights{
    height: 90vh;
}
.highlights .container{
    max-width: 960px;
}
.highlights .f-item{
    flex-basis: 13%;
}
.about{
    height: 170vh;
}
.about .container{
    max-width: 960px;
}
.about .f-item1{
    height: 86vh;
    flex-basis: 47%;
}
.about .f-item2{
    flex-basis: 48%;
    margin-left: 25px;
}
.statistics{
    height: 35vh;
}
.statistics .container{
    max-width: 992px;
}
.statistics .f-item{
    flex-basis: 19%;
}
.clients{
    height: 30vh;
}
.clients .container{
    max-width: 960px;
}
.clients .f-item{
    flex-basis: 12%;
}
.clients img{
    max-width: 65%;
}
.services{
    height: 155vh;
}
.services .container{
    max-width: 992px;
}
.services .section-content{
    max-width: 985px;
}
.services .section-content .f-item{
    flex-basis: 28%;
}
.team{
    height: 110vh;
}
.team .container{
    max-width: 992px;
}
.team .section-content{
    max-width: 992px;
}
.team .section-content .f-item{
    flex-basis: 23%;
}
.newsletter .container{
    max-width: 992px;
}
.newsletter .section-content{
    max-width: 992px;
}
}
@media (min-width:1200px){
.quick-links .container{
    max-width: 1140px;
}
.quick-links .f-item1 a{
    font-size: 16px;
}
.quick-links .f-item2 a{
    font-size: 16px;
}
.banner .container{
    max-width: 1140px;
}
.highlights .container{
    max-width: 1140px;
}
.highlights .f-item{
    flex-basis: 14%;
}
.about{
    height: 153vh;
}
.about .container{
    max-width: 1140px;
}
.about .f-item1{
    height: 102vh;
}
.statistics .container{
    max-width: 1140px;
}
.statistics .f-item{
    flex-basis: 20%;
}
.clients .container{
    max-width: 1140px;
}
.services{
    height: 150vh;
}
.services .container{
    max-width: 1140px;
}
.services .section-content{
    max-width: 1130px;
}
.services .section-content .f-item{
    flex-basis: 27%;
}
.team{
    height: 115vh;
}
.team .container{
    max-width: 1140px;
}
.team .section-content{
    max-width: 1140px;
}
.team .section-content .f-item{
    flex-basis: 23%;
}
.newsletter .container{
    max-width: 1140px;
}
.newsletter .section-content{
    max-width: 1140px;
}
}
@media (min-width:1400px){
.quick-links .container{
    max-width: 1320px;
}
.banner .container{
    max-width: 1320px;
}
.highlights .container{
    max-width: 1320px;
}
.highlights .f-item{
    flex-basis: 15%;
}
.about{
    height: 175vh;
}
.about .container{
    max-width: 1320px;
}
.about .f-item1{
    height: 119vh;
}
.statistics .container{
    max-width: 1320px;
}
.statistics .f-item{
    flex-basis: 21%;
}
.clients .container{
    max-width: 1320px;
}
.services{
    height: 145vh;
}
.services .container{
    max-width: 1320px;
}
.services .section-content{
    max-width: 1300px;
}
.team{
    height: 125vh;
}
.team .container{
    max-width: 1320px;
}
.team .section-content{
    max-width: 1320px;
}
.team .section-content .f-item{
    flex-basis: 23%;
}
.newsletter .container{
    max-width: 1320px;
}
.newsletter .section-content{
    max-width: 1320px;
}
}