body{
    font-family: "Poppins", sans-serif;
}
/*banner*/
.banner{
    background-image: url('../css/image/hero-bg.jpg');
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    height: 100vh;
}
.banner .white-overlay{
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}    
.banner .container{
    height: 100vh;
    width: 98%;
    margin: 0 auto;
}
.banner .f-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
h1{
    font-size: 28px;
    padding-bottom: 10px;
    font-weight: bolder;
    margin: -30px 0;
}
.banner h1 span{
    color: #106EEA;
}
p{
    font-size: 16px;
    padding-bottom: 11px;
    font-weight: 400;
    color: #555555;
    line-height: 24px;
}
.banner .f-item2{
    margin-top: 8px;
    display: flex;
    align-items: center;
    position: relative
}
.banner .primary-btn{
    text-decoration: none;
    color: white;
    background: #106EEA;
    padding: 10px 28px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 13px;
    display: inline-block;
    letter-spacing: 1px;
}
.banner .secondary-btn {
    text-decoration: none;
    padding-left: 25px;
    color: #222222;
    font-weight: 600;
    font-size: 14px;
}
.banner i{
    font-size: 32px;
    padding-right: 8px;
    color: #106EEA; 
}
.highlights{
    width: 100%;
    height: 220vh;
}
.highlights .container{
    width: 100%;
    margin: 0 auto;
    height: 100vh;
}
.highlights .f-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}
.highlights .f-item{
    flex-basis: 65%;
    margin-top: 35px;
    padding: 0px 50px 20px 40px;
    border: 2px #106eea42 solid;
    box-shadow: 0px 0px 10px 0px;
    border-radius: 5px;
}
.highlights .f-item:hover{
    border: 5px  #106EEA solid ;
}
.highlights .icon{
    color: #106EEA;
    font-size: 45px;
    padding: 30px 0px 25px 0px;
}
.highlights h1{
    font-size: 17px;
    padding: 6px 0px 25px 0px;
    font-weight: 700;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}
.highlights p{
    font-size: 15px;
    padding: 0px 0px 0px 0px;
    word-spacing: 1px;
    color: black;
    line-height: 23px;
}
.about{
    width: 100%;
    height: 192vh;
    background-color: #F6F9FE;
}
.about .container{
    width: 100%;
    margin: 0 auto;
    padding-top: 70px;
}
.about .heading{
    text-align: center;
}
.about .section-title h1{
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #106EEA;
    border: 0px white solid;
    background-color: #E7F1FD;
    display: inline-block;
    padding: 5px 17px;
    border-radius: 13px;
}
.about .section-title h2{   
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 16px;
}
.about span{
    color: #106EEA;
}
.about .section-title p{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.about .f-container{
    display: flex;
    flex-wrap: wrap;
}
.about .f-item1{
    background-image: url('../css/image/about-flex.jpg');
    background-size: cover;
    height: 112vh;
    flex-basis: 100%;
}
.about .f-item2{
    flex-basis: 100%;
    padding-top: 50px;
}
.about .f-item2 h1{
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}
.about .f-item2 h2{
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    margin: 25px 0;
}
.about .f2-content{
    padding-top: 50px;
}
.about .f2-content1{
    display: flex;
    flex-wrap: wrap;
}
.about .icon{
    flex-basis: 10%;
    padding-left: 6px;
}
.about i{
    color: #106EEA;
    border: 2px solid white;
    padding: 14px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px;
}
.about .f2-cont{
    flex-basis: 90%;
    padding-left: 85px;
}
.about .f2-content h1{
    font-size: 18px;
    line-height: 23px;
    margin: -40px 0px -20px 0px;
}
.about .f2-content p{
    font-size: 14px;
    line-height: 20px;
    margin: 15px 0px 20px 0px;
}
.about .section-footer p{
    font-size: 15px;
    line-height: 22px;
    font-weight: 700;
}

@media (min-width:576px){
/*banner*/
.banner .container{
    width: 540px;
}
.highlights{
    height: 220vh;
}
.highlights .container{
    width: 540px;
}
.about{
    height: 192vh;
}
.about .container{
    width: 540px;
}
.about .f-item1{
    height: 124vh;
    flex-basis: 100%;
}
.about .f-item2{
    flex-basis: 100%;
}
}
@media (min-width:667px){
.highlights{
   height: 200vh;
}
}
@media (min-width:768px){
    /*banner*/
.banner .container{
    width: 720px;
}
.banner h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    margin: -20px 0;
}
.banner p{
    font-size: 24px;
    line-height: 26px;
    font-weight: 600;
}
.banner .secondary-btn {
    font-weight: 700;
    font-size: 16px;
}
.highlights{
    height: 113vh;
}
.highlights .container{
    width: 720px;
}
.highlights .f-item{
    flex-basis: 33%;
}
.highlights p{
    line-height: 25px;
    color: black;
    font-weight: 500;
}
.about{
    height: 192vh;
}
.about .container{
    width: 720px;
}
.about .f-item1{
    height: 166vh;
    flex-basis: 100%;
}
.about .f-item2{
    flex-basis: 100%;
}
}
@media (min-width:992px){
/*banner*/
.banner .container{
    width: 960px;
}
.highlight{
    height: 69vh;
}
.highlights .container{
    width: 960px;
}
.highlights .f-item{
    flex-basis: 13%;
}
.about{
    height: 192vh;
}
.about .container{
    width: 960px;
}
.about .f-item1{
    height: 144vh;
    flex-basis: 47%;
}
.about .f-item2{
    flex-basis: 48%;
    margin-left: 25px;
}
}
@media (min-width:1200px){
/*banner*/    
.banner .container{
    width: 1140px;
}
.highlight{
    height: 64vh;
}
.highlights .container{
    width: 1140px;
}
.highlights .f-item{
    flex-basis: 14%;
}
.about{
    height: 192vh;
}
.about .container{
    width: 1140px;
}
}
@media (min-width:1400px){
 /*banner*/    
.banner .container{
    width: 1320px;
}
.highlights{
    height: 58vh;
}
.highlights .container{
    width: 1320px;
}
.highlights .f-item{
    flex-basis: 15%;
}
.about{
    height: 192vh;
}
.about .container{
    width: 1320px;
}
}